gpytorch
torch
gpflow
gpjax>=0.5.2
tensorflow
tensorflow-probability==0.14.0
jax<0.4.0
jaxlib<0.4.0
sparsegpax @ git+https://github.com/aterenin/SparseGPAX.git
spherical-harmonics @ git+https://github.com/vdutor/SphericalHarmonics.git
