gpytorch
torch
gpflow
gpjax>=0.5.2
tensorflow<2.14
tensorflow-probability
jax
jaxlib
backends>=1.5.4
plum-dispatch>=2.2.0
sparsegpax @ git+https://github.com/aterenin/SparseGPAX.git
spherical-harmonics @ git+https://github.com/vdutor/SphericalHarmonics.git
