# Version-independent requirements
##################################
-r test_requirements.txt

# Version-dependent requirements
################################

# Base
scipy==1.12.0

# TensorFlow
gpflow==2.9.0
tensorflow<2.14
tensorflow-probability==0.20.1

# JAX
jax==0.4.23
jaxlib==0.4.23
jaxtyping
optax
