# Version-independent requirements
##################################
-r test_requirements.txt

# Version-dependent requirements
################################

# Base
typing_extensions>=4.6
scipy==1.12.0

# Torch
torch==2.1.2
gpytorch==1.11
botorch>=0.9

# TensorFlow
gpflow==2.9
tensorflow==2.15
tensorflow-probability==0.23

# JAX
jax==0.4.23
jaxlib==0.4.23
jaxtyping
optax
