name: QualityChecks

on:
  push:
    paths-ignore:
      - 'coverage.svg'   # avoid retriggering on badge-only commits
  pull_request:
    branches:
      - main

jobs:
  check-and-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11"]
      fail-fast: false

    name: Python-${{ matrix.python-version }}
    steps:
      #----------------------------------------------
      #       check-out repo and set-up python
      #----------------------------------------------
    - uses: actions/checkout@v4

    - name: Install uv
      uses: astral-sh/setup-uv@v6
      with:
        version: "0.9.6"
      #----------------------------------------------
      #       install
      #----------------------------------------------
    - name: Install dependencies
      run: UV_PYTHON=python${{ matrix.python-version }} make sync
      #----------------------------------------------
      #       test
      #----------------------------------------------
    - name: Run tests
      run: UV_PYTHON=python${{ matrix.python-version }} make test
    - name: Create badge
      run: |
        uv pip install coverage-badge
        uv run coverage-badge -o coverage.svg
    - name: Commit badge
      if: matrix.python-version == '3.11'
      run: |
          if [[ -n "$(git status --porcelain)" ]]; then
            git config user.name "github-actions[bot]"
            git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
            git add coverage.svg
            git commit -m "Update coverage badge [skip ci]"
            git push
          fi
